<div class="callout warning"><%= t("caution", scope: "decidim.decidim_awesome.admin.config") %></div>
<div class="row column decidim_awesome-form">
  <% if config_enabled? :custom_registration_form %>
    <p class="help-text"><%= t("help.custom_registration_form", scope: "decidim.decidim_awesome.admin.config.form") %></p>
    <p class="help-text"><%= t("help.custom_registration_form_example", scope: "decidim.decidim_awesome.admin.config.form") %></p>
    <p class="help-text"><%= t("help.custom_registration_form_translations", scope: "decidim.decidim_awesome.admin.config.form") %></p>

    <% form.object.custom_registration_form&.each do |key, value| %>
      <div class="custom_registration_form_container" data-key="<%= key %>">
        <%= render(partial: "decidim/decidim_awesome/admin/config/autoedit_box_label", locals: { var: "custom_registration_form", key: key, scope: "custom_registration_form_#{key}", delete_path: decidim_admin_decidim_awesome.custom_registration_form_path(key: key) }) %>
        <p class="form-error is-visible"><%= errors[key.to_sym].join("<br>") if errors %></p>
        <%= hidden_field_tag key, value, name: "config[custom_registration_form][#{key}]" %>
        <div class="custom_registration_form_editor">
          <div class="loading-spinner"></div>
        </div>
      </div>
    <% end %>

    <%= link_to t(".new"), decidim_admin_decidim_awesome.custom_registration_form_index_path, method: :post %>

  <% end %>
</div>

<%= javascript_include_tag "decidim/decidim_awesome/admin/form_exit_warn" %>
