<div class="callout warning"><%= t("caution", scope: "decidim.decidim_awesome.admin.config") %></div>
<div class="row column decidim_awesome-form">

  <% if config_enabled? :custom_registration_form %>
    <p class="help-text"><%= t("help.proposal_custom_fields", scope: "decidim.decidim_awesome.admin.config.form") %></p>
    <p class="help-text"><%= t("help.proposal_custom_fields_example", scope: "decidim.decidim_awesome.admin.config.form") %></p>

    <% form.object.custom_registration_form&.each do |key, value| %>
      <div class="proposal-custom-field" data-key="<%= key %>">
        <%= label_tag :custom_registration_form do %>
          <%= t("config.custom_registration_form", scope: "activemodel.attributes", id: key) %>
          <%= link_to t(".remove"), decidim_admin_decidim_awesome.custom_registration_form_path(key: key), method: :delete, class: "float-right", data: { confirm: t(".sure_to_remove") } %>
        <% end %>
        <%= text_area_tag key, value, name: "config[custom_registration_form][#{key}]", rows: 5 %>
      </div>
    <% end %>
    <%= link_to t(".new"), decidim_admin_decidim_awesome.custom_registration_form_index_path, method: :post %>
  <% end %>
</div>

<%= javascript_include_tag "decidim/decidim_awesome/admin/form_exit_warn" %>
